In [1]:
import pandas as pd
import numpy as np

# Erstelle den Datumsbereich als Index
daten_index = pd.date_range(start='2025-01-01', end='2025-03-31', freq='D')

# Erzeuge zufällige Kursänderungen und berechne den Kursverlauf
# np.random.randn erzeugt normalverteilte Zufallszahlen
kurs_aenderungen = np.random.randn(len(daten_index)).cumsum()
start_kurs = 150
aktienkurs = start_kurs + kurs_aenderungen

# Erstelle den DataFrame
df_aktie = pd.DataFrame({'Kurs': aktienkurs}, index=daten_index)

print("--- Aktienkurs-DataFrame (Anfang) ---")
print(df_aktie.head())
print("\n--- Aktienkurs-DataFrame (Ende) ---")
print(df_aktie.tail())

--- Aktienkurs-DataFrame (Anfang) ---
                  Kurs
2025-01-01  149.311956
2025-01-02  150.937722
2025-01-03  151.657639
2025-01-04  152.433200
2025-01-05  149.852418

--- Aktienkurs-DataFrame (Ende) ---
                  Kurs
2025-03-27  130.481509
2025-03-28  130.002670
2025-03-29  130.694436
2025-03-30  131.239411
2025-03-31  131.454001

Aufgabe 7.2: Zeitbasiertes Auswählen

Wähle alle Kursdaten für den Monat Februar 2025 aus.
Wähle alle Kursdaten für die erste Woche im März aus (vom 1. März bis zum 7. März 2025).
(Tipp: Denk an die Lektion mit KeyError und verwende den .loc-Accessor.)

In [5]:
print(df_aktie.loc['2025-2'])

print(df_aktie.loc['2025-03-01':'2025-03-15'])

                  Kurs
2025-02-01  151.689815
2025-02-02  151.164991
2025-02-03  150.175157
2025-02-04  149.707151
2025-02-05  148.857230
2025-02-06  147.697015
2025-02-07  147.329544
2025-02-08  146.612581
2025-02-09  147.963356
2025-02-10  147.536936
2025-02-11  147.063533
2025-02-12  145.112168
2025-02-13  145.176054
2025-02-14  146.807195
2025-02-15  146.702533
2025-02-16  147.006836
2025-02-17  147.318369
2025-02-18  147.718306
2025-02-19  148.954111
2025-02-20  148.967128
2025-02-21  147.313713
2025-02-22  146.650318
2025-02-23  147.376806
2025-02-24  146.352579
2025-02-25  148.568173
2025-02-26  148.223207
2025-02-27  147.305595
2025-02-28  146.727266
                  Kurs
2025-03-01  145.987141
2025-03-02  144.203141
2025-03-03  142.798589
2025-03-04  142.400620
2025-03-05  141.933675
2025-03-06  141.564906
2025-03-07  141.466634
2025-03-08  140.271515
2025-03-09  139.184592
2025-03-10  137.929732
2025-03-11  138.824429
2025-03-12  138.276475
2025-03-13  137.889780
2025-03-14  135.906375
2025-03-15  135.793857


___
Aufgabe 7.3: Daten neu abtasten (Resampling)

Die täglichen Daten sind sehr volatil. Berechne den durchschnittlichen wöchentlichen Aktienkurs. (Tipp: .resample('W').mean())
Ein Investor interessiert sich nur für den Schlusskurs am Ende jedes Monats. Berechne diesen Wert für jeden Monat in den Daten. (Tipp: .resample('M').last() oder .asfreq('M') könnten hier nützlich sein.)

In [21]:
print(df_aktie.resample('ME').ohlc())

                  Kurs
                  open        high         low       close
2025-01-31  149.311956  152.433200  147.311156  151.225890
2025-02-28  151.689815  151.689815  145.112168  146.727266
2025-03-31  145.987141  145.987141  130.002670  131.454001


___
Aufgabe 7.4: Gleitende Durchschnitte berechnen

Um kurzfristige Trends zu erkennen, füge dem df_aktie eine neue Spalte MA_7 hinzu, die den gleitenden 7-Tage-Durchschnitt des Kurses enthält.
Um langfristige Trends zu erkennen, füge eine weitere Spalte MA_30 für den gleitenden 30-Tage-Durchschnitt hinzu.
Gib die ersten 35 Zeilen des DataFrames aus, um beide neuen Spalten zu sehen (beachte die NaN-Werte am Anfang).

In [25]:
df_aktie['MA_7'] = df_aktie['Kurs'].rolling(window=7).mean()
df_aktie['MA_30'] = df_aktie['Kurs'].rolling(window=30).mean()
df_aktie.head(35)

                  Kurs        MA_7       MA_30
2025-01-01  149.311956         NaN         NaN
2025-01-02  150.937722         NaN         NaN
2025-01-03  151.657639         NaN         NaN
2025-01-04  152.433200         NaN         NaN
2025-01-05  149.852418         NaN         NaN
2025-01-06  148.417247         NaN         NaN
2025-01-07  147.694638  150.043546         NaN
2025-01-08  147.920766  149.844804         NaN
2025-01-09  148.980783  149.565242         NaN
2025-01-10  149.272920  149.224567         NaN
2025-01-11  149.719960  148.836962         NaN
2025-01-12  150.270942  148.896751         NaN
2025-01-13  149.903786  149.109113         NaN
2025-01-14  150.427218  149.499482         NaN
2025-01-15  149.459355  149.719280         NaN
2025-01-16  150.511990  149.938024         NaN
2025-01-17  148.817913  149.873023         NaN
2025-01-18  150.074967  149.923739         NaN
2025-01-19  149.995425  149.884379         NaN
2025-01-20  149.039044  149.760845         NaN
2025-01-21  149.583467  149.640309         NaN
2025-01-22  149.977168  149.714282         NaN
2025-01-23  151.039990  149.789711         NaN
2025-01-24  149.573077  149.897591         NaN
2025-01-25  147.311156  149.502761         NaN
2025-01-26  148.594136  149.302577         NaN
2025-01-27  147.767421  149.120916         NaN
2025-01-28  148.037660  148.900087         NaN
2025-01-29  148.831295  148.736391         NaN
2025-01-30  150.167066  148.611687  149.519411
2025-01-31  151.225890  148.847803  149.583209
2025-02-01  151.689815  149.473326  149.608278
2025-02-02  151.164991  149.840591  149.591857
2025-02-03  150.175157  150.184554  149.516589
2025-02-04  149.707151  150.423052  149.511746


___
Aufgabe 7.5 (Bonus-Challenge): Nach Wochentagen filtern

Erstelle einen neuen DataFrame, der nur die Kurse von allen Montagen im Datensatz enthält.
(Tipp: Der DatetimeIndex hat einen .dayofweek-Attribut, wobei Montag der Wert 0 ist.)

In [40]:
df_aktie_motag = df_aktie.loc[df_aktie.index.dayofweek == 0]  # starts monday 
df_aktie_motag

                  Kurs        MA_7       MA_30
2025-01-06  148.417247         NaN         NaN
2025-01-13  149.903786  149.109113         NaN
2025-01-20  149.039044  149.760845         NaN
2025-01-27  147.767421  149.120916         NaN
2025-02-03  150.175157  150.184554  149.516589
2025-02-10  147.536936  147.957687  149.311425
2025-02-17  147.318369  146.455241  148.502109
2025-02-24  146.352579  147.618994  148.062563
2025-03-03  142.798589  146.259016  147.312557
2025-03-10  137.929732  140.678811  145.419491
2025-03-17  133.060633  136.293562  143.009263
2025-03-24  131.959979  132.766108  139.523729
2025-03-31  131.454001  131.176475  135.780214