**Aufgabe 2.1**: Einen DataFrame erstellen und als CSV speichern
Erstelle einen neuen DataFrame namens df_kurse mit den folgenden Daten:

Kurs_ID	Kurs_Name	ECTS
INF-101	Programmieren 1	5
BWL-101	Grundlagen Marketing	5
MB-101	Technische Mechanik	8


Das Trennzeichen soll ein Semikolon (;) sein.
Der Pandas-Index soll nicht mit in die Datei geschrieben werden.

In [2]:
import pandas as pd

df_kurse =pd.DataFrame({
    'Kurs_ID': ['INF-101', 'BWL-101', 'MB-101'],
    'Kurs_Name': ['Einführung in die Informatik', 'Grundlagen der Betriebswirtschaftslehre', 'Mathematik für Betriebswirte'],
    'Kurs_Dauer': [5, 5, 8]
})

df_kurse.to_csv('kurse.csv', index=False, encoding='utf-8', sep=';')

___
Aufgabe 2.2: CSV-Datei einlesen
Lese die eben erstellte Datei kurse.csv wieder in einen neuen DataFrame namens df_kurse_gelesen ein. Vergiss nicht, das korrekte Trennzeichen anzugeben. Gib die ersten paar Zeilen des neuen DataFrames aus, um das Ergebnis zu überprüfen.

In [5]:
df_kurse_gelesen = pd.read_csv('kurse.csv', sep=';')
df_kurse_gelesen

   Kurs_ID                                Kurs_Name  Kurs_Dauer
0  INF-101             Einführung in die Informatik           5
1  BWL-101  Grundlagen der Betriebswirtschaftslehre           5
2   MB-101             Mathematik für Betriebswirte           8


___
Aufgabe 2.5 (Fortgeschritten): Daten laden und direkt einen Index setzen
Lese die Datei studierende.csv (aus unseren früheren Beispielen) in einen DataFrame ein. Sorge dafür, dass die Spalte Matrikelnummer direkt beim Einlesen als Index des DataFrames verwendet wird.
(Tipp: Schau in der Dokumentation von pd.read_csv() nach einem passenden Parameter, z.B. index_col).

In [7]:
df_load_csv = pd.read_csv('studierende.csv', sep=';', index_col='Matrikelnummer')
df_load_csv

                 Name   Studiengang  Semester
Matrikelnummer
12345            Anna    Informatik         4
67890            Mark           BWL         6
13579           Julia  Maschinenbau         2
24680             Tom    Informatik         4