**Aufgabe 1.1**: Erstellen einer einfachen Series
Erstelle eine Pandas Series mit dem Namen durchschnittsnoten, die die folgenden Noten von fünf Studierenden enthält: 1.7, 2.3, 1.0, 3.0, 2.0. Gib die Series aus.

In [1]:
import pandas as pd

marks = pd.Series([1.7, 2.3, 1.0, 3.0, 2.0])

print(marks)

0    1.7
1    2.3
2    1.0
3    3.0
4    2.0
dtype: float64

___
**Aufgabe 1.2**: Series mit benutzerdefiniertem Index
Erstelle die gleiche Series wie in Aufgabe 1.1, aber verwende dieses Mal die Namen der Studierenden als Index: 'Anna', 'Mark', 'Julia', 'Tom', 'Laura'.

In [2]:
import pandas as pd

indices = ['Anna', 'Mark', 'Julia', 'Tom', 'Laura']

marks = pd.Series([1.7, 2.3, 1.0, 3.0, 2.0], index=indices)

print(marks)

Anna     1.7
Mark     2.3
Julia    1.0
Tom      3.0
Laura    2.0
dtype: float64

___
**Aufgabe 1.3**: Zugriff auf ein Element
Greife auf die Note von 'Julia' aus der Series von Aufgabe 1.2 zu und gib sie aus.

In [4]:
print(marks['Julia'])

1.0

___
**Aufgabe 1.4**: Eine grundlegende Berechnung
Berechne die Durchschnittsnote aller Studierenden aus der Series von Aufgabe 1.2 mit einer eingebauten Pandas-Methode.

In [6]:
mean = marks.mean()
print(mean)

2.0

___
**Aufgabe 1.5**: Erstellen eines DataFrame
Erstelle einen DataFrame namens df_autos, der Informationen über drei Autos enthält. Der DataFrame soll die folgenden Spalten haben:

Marke: 'Volkswagen', 'Mercedes-Benz', 'BMW'
Modell: 'Golf', 'C-Klasse', '3er'
PS: 150, 258, 184
Baujahr: 2021, 2022, 2020
Gib den gesamten DataFrame aus.

In [8]:
df_autos = pd.DataFrame({
    'Marke': ['Volkswagen', 'BMW', 'Mercedes'],
    'Modell': ['Golf', '3er', 'C-Klasse'],
    'PS': [150, 258, 184],
    'Baujahr': [2021, 2022, 2020]
})
print(df_autos)

        Marke    Modell   PS  Baujahr
0  Volkswagen      Golf  150     2021
1         BMW       3er  258     2022
2    Mercedes  C-Klasse  184     2020

___
**Aufgabe 1.6**: Spalten auswählen
Wähle nur die Spalten Marke und PS aus dem df_autos aus und gib das Ergebnis aus.

In [22]:
df_neu = df_autos[['Marke', 'PS']]

df_neu

        Marke   PS
0  Volkswagen  150
1         BMW  258
2    Mercedes  184

___
**Aufgabe 1.7**: Eine neue Spalte hinzufügen
Füge dem df_autos eine neue Spalte namens ist_neuwagen hinzu. Der Wert soll für alle drei Autos False sein. Gib den modifizierten DataFrame aus.

In [24]:
df_autos['ist_neuwagen'] = df_autos['Baujahr'] >= 2021

df_autos

        Marke    Modell   PS  Baujahr  ist_neuwagen
0  Volkswagen      Golf  150     2021          True
1         BMW       3er  258     2022          True
2    Mercedes  C-Klasse  184     2020         False

___
**Aufgabe 1.8**: Den Index ändern
Setze die Spalte Modell als neuen Index für den df_autos. Gib den DataFrame danach erneut aus, um das Ergebnis zu überprüfen.

In [26]:
df_autos.set_index('Modell', inplace=True)
df_autos

               Marke   PS  Baujahr  ist_neuwagen
Modell
Golf      Volkswagen  150     2021          True
3er              BMW  258     2022          True
C-Klasse    Mercedes  184     2020         False