In [1]:
import pandas as pd

# Daten für die Aggregations-Übungen
daten = {
    'Name': ['Anna', 'Mark', 'Julia', 'Tom', 'Laura', 'Peter', 'Sofia'],
    'Abteilung': ['IT', 'Sales', 'IT', 'HR', 'Sales', 'IT', 'HR'],
    'Gehalt': [70000, 62000, 75000, 50000, 68000, 69000, 52000],
    'HO_Tage': [3, 2, 4, 1, 3, 3, 2]
}
df_mitarbeiter = pd.DataFrame(daten)

print("DataFrame für Aggregations-Übungen:")
print(df_mitarbeiter)

DataFrame für Aggregations-Übungen:
    Name Abteilung  Gehalt  HO_Tage
0   Anna        IT   70000        3
1   Mark     Sales   62000        2
2  Julia        IT   75000        4
3    Tom        HR   50000        1
4  Laura     Sales   68000        3
5  Peter        IT   69000        3
6  Sofia        HR   52000        2

Aufgabe 6.1: Durchschnittsgehalt pro Abteilung

Gruppiere den df_mitarbeiter nach der Spalte Abteilung.
Berechne anschließend das Durchschnittsgehalt (mean) für jede Abteilung.

In [10]:
df_mitarbeiter.groupby('Abteilung').agg({'Gehalt': 'mean'})

                 Gehalt
Abteilung
HR         51000.000000
IT         71333.333333
Sales      65000.000000


___
Aufgabe 6.2: Gruppengröße ermitteln

Finde heraus, wie viele Mitarbeiter jede Abteilung hat. Das Ergebnis sollte eine Series sein, die pro Abteilung die Anzahl der Mitarbeiter anzeigt.
(Tipp: .size() ist hierfür gut geeignet.)

In [13]:
df_mitarbeiter.groupby('Abteilung').size()

Abteilung
HR       2
IT       3
Sales    2
dtype: int64


___
Aufgabe 6.3: Mehrere Aggregationen gleichzeitig

Gruppiere den DataFrame wieder nach Abteilung.
Berechne für das Gehalt sowohl den minimalen als auch den maximalen Wert pro Abteilung. Verwende hierfür die .agg()-Methode.

In [14]:
df_mitarbeiter.groupby('Abteilung').agg({'Gehalt': ['max', 'min']})

          Gehalt
             max    min
Abteilung
HR         52000  50000
IT         75000  69000
Sales      68000  62000


___
Aufgabe 6.4 (Fortgeschritten): Maßgeschneiderte Aggregation

Erstelle eine Übersicht, die für jede Abteilung Folgendes anzeigt:
Das Durchschnittsgehalt (mean).
Die Gesamtsumme (sum) der Home-Office-Tage.
Verwende hierfür eine einzige .agg()-Anweisung mit einem Dictionary.

In [16]:
df_mitarbeiter.groupby('Abteilung').agg({'Gehalt': 'mean', 'HO_Tage': 'sum'}).rename({'Gehalt': 'Durchschnittsgehalt', 'HO_Tage': 'Summe HO-Tage'}, axis=1)

           Durchschnittsgehalt  Summe HO-Tage
Abteilung
HR                51000.000000              3
IT                71333.333333             10
Sales             65000.000000              5

In [2]:
import pandas as pd

# DataFrame mit Stammdaten (beachte: M-104 fehlt)
df_personal = pd.DataFrame({
    'MitarbeiterID': ['M-101', 'M-102', 'M-103', 'M-105'],
    'Name': ['Anna', 'Mark', 'Julia', 'Laura']
})

# DataFrame mit Projektzuweisungen (beachte: M-105 hat kein Projekt)
df_projekte = pd.DataFrame({
    'MitarbeiterID': ['M-101', 'M-102', 'M-103', 'M-106'],
    'Projekt': ['Alpha', 'Beta', 'Gamma', 'Delta']
})

# DataFrame mit neuen Mitarbeitern zum Anhängen
df_neue = pd.DataFrame({
    'MitarbeiterID': ['M-106', 'M-107'],
    'Name': ['Peter', 'Sofia']
})

print("--- Personal ---")
print(df_personal)
print("\n--- Projekte ---")
print(df_projekte)
print("\n--- Neue Mitarbeiter ---")
print(df_neue)

--- Personal ---
  MitarbeiterID   Name
0         M-101   Anna
1         M-102   Mark
2         M-103  Julia
3         M-105  Laura

--- Projekte ---
  MitarbeiterID Projekt
0         M-101   Alpha
1         M-102    Beta
2         M-103   Gamma
3         M-106   Delta

--- Neue Mitarbeiter ---
  MitarbeiterID   Name
0         M-106  Peter
1         M-107  Sofia

Aufgabe 6.5: DataFrames aneinanderhängen

Erstelle einen neuen DataFrame df_gesamtpersonal, indem du df_neue an df_personal anhängst. Verwende dafür pd.concat().

In [18]:
df_gesamtpersonal = pd.concat([df_personal, df_neue], ignore_index=True)
df_gesamtpersonal

  MitarbeiterID   Name
0         M-101   Anna
1         M-102   Mark
2         M-103  Julia
3         M-105  Laura
4         M-106  Peter
5         M-107  Sofia


___
Aufgabe 6.6: Inner Join

Kombiniere df_personal und df_projekte so, dass nur Mitarbeiter angezeigt werden, die in beiden DataFrames vorkommen (also alle, die einen Namen und ein Projekt haben). Verwende pd.merge() mit der passenden how-Einstellung.

In [22]:
df_personal.merge(df_projekte, on='MitarbeiterID', how='inner')

  MitarbeiterID   Name Projekt
0         M-101   Anna   Alpha
1         M-102   Mark    Beta
2         M-103  Julia   Gamma


___
Aufgabe 6.7: Left Join

Erstelle eine Übersicht aller Mitarbeiter aus df_personal und füge deren Projekt aus df_projekte hinzu.
Wenn ein Mitarbeiter kein Projekt hat (wie Laura), soll in der Projekt-Spalte NaN stehen. Verwende wieder pd.merge().


___
Aufgabe 6.8: Outer Join

Erstelle eine Übersicht, die alle Mitarbeiter und alle Projekte aus beiden DataFrames (df_personal, df_projekte) enthält.
Das Ergebnis sollte sowohl Laura (ohne Projekt) als auch das Projekt von Peter (M-106, ohne Namen in df_personal) beinhalten.