In [1]:
import pandas as pd

daten = {
    'Name': ['Anna', 'Mark', 'Julia', 'Tom'],
    'Studiengang': ['Informatik', 'BWL', 'Maschinenbau', 'Informatik'],
    'Semester': [4, 6, 2, 4],
    'Note': [1.7, 2.3, 1.0, 2.7],
    'ECTS': [120, 180, 60, 110]
}
matrikelnummern = [12345, 67890, 13579, 24680]
df = pd.DataFrame(daten, index=matrikelnummern)

print("Ausgangs-DataFrame:")
print(df)

Ausgangs-DataFrame:
        Name   Studiengang  Semester  Note  ECTS
12345   Anna    Informatik         4   1.7   120
67890   Mark           BWL         6   2.3   180
13579  Julia  Maschinenbau         2   1.0    60
24680    Tom    Informatik         4   2.7   110

In [2]:
# Neue Spalte 'ECTS_pro_Semester' berechnen
df['ECTS_pro_Semester'] = df['ECTS'] / df['Semester']

print("--- DataFrame mit neuer Spalte 'ECTS_pro_Semester' ---")
print(df)

--- DataFrame mit neuer Spalte 'ECTS_pro_Semester' ---
        Name   Studiengang  Semester  Note  ECTS  ECTS_pro_Semester
12345   Anna    Informatik         4   1.7   120               30.0
67890   Mark           BWL         6   2.3   180               30.0
13579  Julia  Maschinenbau         2   1.0    60               30.0
24680    Tom    Informatik         4   2.7   110               27.5

In [3]:
# Fügt eine Spalte 'Uni' mit dem Wert 'Musterhochschule' für alle Zeilen hinzu
df['Uni'] = 'Musterhochschule'

print("\n--- DataFrame mit Spalte 'Uni' ---")
print(df)

--- DataFrame mit Spalte 'Uni' ---
        Name   Studiengang  Semester  Note  ECTS  ECTS_pro_Semester  \
12345   Anna    Informatik         4   1.7   120               30.0
67890   Mark           BWL         6   2.3   180               30.0
13579  Julia  Maschinenbau         2   1.0    60               30.0
24680    Tom    Informatik         4   2.7   110               27.5

                    Uni
12345  Musterhochschule
67890  Musterhochschule
13579  Musterhochschule
24680  Musterhochschule

In [4]:
# Die Spalte 'Uni' entfernen
# Das Ergebnis wird einem neuen DataFrame zugewiesen
df_ohne_uni = df.drop('Uni', axis=1)

print("--- DataFrame nach Entfernen der Spalte 'Uni' ---")
print(df_ohne_uni)

# Du kannst auch mehrere Spalten auf einmal entfernen
df_reduziert = df.drop(['Uni', 'ECTS_pro_Semester'], axis=1)
print("\n--- DataFrame nach Entfernen mehrerer Spalten ---")
print(df_reduziert)

--- DataFrame nach Entfernen der Spalte 'Uni' ---
        Name   Studiengang  Semester  Note  ECTS  ECTS_pro_Semester
12345   Anna    Informatik         4   1.7   120               30.0
67890   Mark           BWL         6   2.3   180               30.0
13579  Julia  Maschinenbau         2   1.0    60               30.0
24680    Tom    Informatik         4   2.7   110               27.5

--- DataFrame nach Entfernen mehrerer Spalten ---
        Name   Studiengang  Semester  Note  ECTS
12345   Anna    Informatik         4   1.7   120
67890   Mark           BWL         6   2.3   180
13579  Julia  Maschinenbau         2   1.0    60
24680    Tom    Informatik         4   2.7   110

In [5]:
# Die Zeile für den Studenten 'Mark' (Index 67890) entfernen
df_ohne_mark = df.drop(67890)

print("--- DataFrame nach Entfernen der Zeile mit Index 67890 ---")
print(df_ohne_mark)

--- DataFrame nach Entfernen der Zeile mit Index 67890 ---
        Name   Studiengang  Semester  Note  ECTS  ECTS_pro_Semester  \
12345   Anna    Informatik         4   1.7   120               30.0
13579  Julia  Maschinenbau         2   1.0    60               30.0
24680    Tom    Informatik         4   2.7   110               27.5

                    Uni
12345  Musterhochschule
13579  Musterhochschule
24680  Musterhochschule

In [6]:
# Schritt 1: Definiere eine Funktion
def noten_praedikat(note):
    if note <= 1.5:
        return 'Sehr Gut'
    elif note <= 2.5:
        return 'Gut'
    elif note <= 3.5:
        return 'Befriedigend'
    else:
        return 'Ausreichend'

# Schritt 2: Wende die Funktion mit .apply() auf die 'Note'-Spalte an
df['Praedikat'] = df['Note'].apply(noten_praedikat)

print("--- DataFrame mit neuer Spalte 'Praedikat' durch .apply() ---")
print(df)

--- DataFrame mit neuer Spalte 'Praedikat' durch .apply() ---
        Name   Studiengang  Semester  Note  ECTS  ECTS_pro_Semester  \
12345   Anna    Informatik         4   1.7   120               30.0
67890   Mark           BWL         6   2.3   180               30.0
13579  Julia  Maschinenbau         2   1.0    60               30.0
24680    Tom    Informatik         4   2.7   110               27.5

                    Uni     Praedikat
12345  Musterhochschule           Gut
67890  Musterhochschule           Gut
13579  Musterhochschule      Sehr Gut
24680  Musterhochschule  Befriedigend

In [7]:
# Benenne die Spalten 'Note' und 'Semester' um
df_renamed = df.rename(columns={'Note': 'Abschlussnote', 'Semester': 'Fachsemester'})

print("--- DataFrame mit umbenannten Spalten ---")
print(df_renamed)

--- DataFrame mit umbenannten Spalten ---
        Name   Studiengang  Fachsemester  Abschlussnote  ECTS  \
12345   Anna    Informatik             4            1.7   120
67890   Mark           BWL             6            2.3   180
13579  Julia  Maschinenbau             2            1.0    60
24680    Tom    Informatik             4            2.7   110

       ECTS_pro_Semester               Uni     Praedikat
12345               30.0  Musterhochschule           Gut
67890               30.0  Musterhochschule           Gut
13579               30.0  Musterhochschule      Sehr Gut
24680               27.5  Musterhochschule  Befriedigend